# IDEs and editors
.idea/
vegas-car-center.iml

vegas-car-center-service/target/

vegas-car-center-ui/target/
vegas-car-center-ui/dist
vegas-car-center-ui/node_modules
vegas-car-center-ui/.angular

vegas-car-center-bot/target
